@attribute [Authorize]
@page "/group/{GroupId}/type/{typeId}"

@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager _navigationManger

@using Microsoft.AspNetCore.Authorization
@using depot.Shared.RequestModels
@using depot.Shared.ResponseModels
@using depot.Shared.Enumerations

@inject depot.Client.Services.API API

@if (Group != null)
{
    <div class="row">
        <div class="col-md-6">
            <h3>@Types.FirstOrDefault(t => t.Id == TypeId)?.Name</h3>
        </div>
        <div class="col-md-6">
            @if (TypeId != null)
            {
                <NavLink class="btn btn-success btn-lg pointer float-right mb-2" href="@($"Group/{Group.Id}/instance/{TypeId}")">
                    <i class="fas fa-plus mx-2"></i> Create New
                </NavLink>
            }
        </div>
    </div>

    @if (TypeId != null)
    {
        <div class="row mt-2">
            <div class="col-md-12">
                <form @onsubmit="(() => SearchType(0, null, null, false))" class="input-group float-right">
                    <input type="text" class="form-control" aria-label="Text input with dropdown button" @bind="Search.FilterText" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search mr-2"></i>Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="btn btn-link float-right pointer" @onclick="(() => SearchType(null, null, null, true))">Reset Search</div>
            </div>
        </div>
    }

    <div class="row mt-2">
        <div class="col-md-12">
            <span class="float-right">@(string.IsNullOrEmpty(Search.FilterText) == false ? $"Searching \"{Search.FilterText}\"." : string.Empty) @(TotalFound != null ? $" Found {TotalFound} items" : string.Empty)</span>
        </div>
    </div>
    @if (Instances.Count > 0)
    {
        <table class="table table-hover mt-3">
            <thead>
                <tr>
                    @foreach (var column in Types.FirstOrDefault(t => t.Id == TypeId)?.Fields.Where(f => f.SearchShow == true).OrderBy(f => f.SearchOrder))
                    {
                        <th scope="col" class="pointer" @onclick="(() => SearchType(null, column.Id, (Search.SortDirection * -1), false))">
                            <span class="mr-2">@column.Name</span>
                            @if (Search.SortBy == column.Id && Search.SortDirection == -1)
                            {
                                <i class="fas fa-caret-up"></i>
                            }
                            else if (Search.SortBy == column.Id && Search.SortDirection == 1)
                            {
                                <i class="fas fa-caret-down"></i>
                            }
                        </th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var instance in Instances)
                {
                    <tr class="pointer" @onclick="(() => SelectInstance(instance.FirstOrDefault(i => i.Key == InstanceIdLabel).Value))">
                        @foreach (var column in Types.FirstOrDefault(t => t.Id == TypeId)?.Fields.Where(f => f.SearchShow == true).OrderBy(f => f.SearchOrder))
                        {
                            @if (instance.Where(i => i.Key == column.Id).Count() > 0)
                            {
                                <td>@instance.Where(i => i.Key == column.Id).FirstOrDefault().Value</td>
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination float-right">
                @if (TotalFound != null)
                {
                    @if ((Search.Page + 1) > 1)
                    {
                        <li class="page-item pointer"><div class="page-link" @onclick="(() => SearchType(Search.Page - 1, null, null, false))">Previous</div></li>
                    }
                    <li class="page-item"><div class="page-link">Page @(Search.Page + 1) of @(Math.Ceiling((double)TotalFound / PageSize))</div></li>
                    @if ((Search.Page + 1) < (Math.Ceiling((double)TotalFound / PageSize)))
                    {
                        <li class="page-item pointer"><div class="page-link" @onclick="(() => SearchType(Search.Page + 1, null, null, false))">Next</div></li>
                    }
                }
            </ul>
        </nav>
    }
}

@code {

    [Parameter]
    public string GroupId { get; set; }

    [Parameter]
    public string TypeId { get; set; }

    int PageSize { get; set; } = 25;

    //Loaded from API
    ResponseGroup Group { get; set; }
    List<ResponseInstanceType> Types { get; set; } = new List<ResponseInstanceType>();
    List<Dictionary<string, string>> Instances = new List<Dictionary<string, string>>();
    int? TotalFound { get; set; }

    private Search Search { get; set; } = new Search();

    private const string InstanceIdLabel = "InstanceId";

    protected override async Task OnParametersSetAsync()
    {
        await LoadGroupData();
    }

    private async Task LoadGroupData()
    {
        Group = await API.GroupGetById(GroupId);
        await GetDataTypes();
    }

    async private Task GetDataTypes()
    {
        if (GroupId != null)
        {
            Types = await API.GetGroupTypeAsList(GroupId);

            string cachedTypeId = await localStorage.GetItemAsync<string>("TypeId");
            if (Types.Any(t => t.Id == cachedTypeId))
            {
                if (TypeId != null)
                {
                    if (TypeId == cachedTypeId)
                    {
                        Search = await localStorage.GetItemAsync<Search>("Search");
                    }
                    await SearchType(null, null, null, false);
                }
            }
            else
            {
                await SearchType(null, null, null, true);
            }
        }
    }

    async private Task TypeClick(ChangeEventArgs e)
    {
        TypeId = e.Value.ToString();
        await SearchType(null, null, null, true);
    }


    /// <summary>
    /// null parameters means the existing search parameter will not be overwritten.
    /// </summary>
    /// <param name="page"></param>
    /// <param name="sortBy"></param>
    /// <param name="sortDirection"></param>
    /// <param name="reset"></param>
    /// <returns></returns>
    async private Task SearchType(int? page, string sortBy, int? sortDirection, bool reset)
    {
        if (reset == true)
        {
            Search = new Search();
            page = null;
            sortBy = null;
            sortDirection = null;
        }

        if (Search?.SortBy == null && sortBy == null)
        {
            sortBy = Types.FirstOrDefault(t => t.Id == TypeId)?.Fields.Where(f => f.SearchShow == true).OrderBy(f => f.SearchOrder).FirstOrDefault()?.Id;
        }

        Search = new Search()
        {
            FilterText = string.IsNullOrEmpty(Search?.FilterText) ? null : Search?.FilterText,
            Page = page == null ? Search.Page : (int)page,
            PageSize = PageSize,
            SortDirection = sortDirection == null ? Search.SortDirection : (int)sortDirection,
            SortBy = sortBy == null ? Search.SortBy : sortBy
        };

        await localStorage.SetItemAsync("Search", Search);
        await localStorage.SetItemAsync("TypeId", TypeId);

        var response = await API.SearchGroupInstance(GroupId, TypeId, Search);
        Instances = response.Data;
        TotalFound = response.Total;
    }

    private void SelectInstance(string instanceId)
    {
        _navigationManger.NavigateTo($"Group/{GroupId}/instance/{TypeId}/{instanceId}");
    }
}
