@attribute [Authorize]
@page "/Group/{GroupId}/design"

@using Microsoft.AspNetCore.Authorization
@using depot.Shared.RequestModels
@using depot.Shared.ResponseModels
@using depot.Shared.Enumerations

@inject API API
@inject IToastService _toastService


<h5>
    <NavLink href="@($"Group/{GroupId}")">
        &#171; Back to Portal
    </NavLink>
</h5>

<h3 class="mt-3">Data Types</h3>

<div class="row">
    <div class="col-md-4">
        <div class="input-group mb-3 float-right">
            <input type="text" class="form-control" placeholder="New Data Type" aria-label="New Data Type" aria-describedby="button-addon2" @bind="NewDataTypeName" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" @onclick="(() => CreateDataType(NewDataTypeName))">Create New Type</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <select class="form-control float-right" @bind="SelectedType">
            <option value="">---Select Type---</option>
            @foreach (var type in Types)
            {
                <option value="@type.Id">@type.Name</option>
            }
        </select>
    </div>
</div>

@if (SelectedType != null)
{
    <div class="row mt-5">
        <div class="col-md-6">
            <h4>Data Fields in Type</h4>
        </div>
        <div class="col-md-6">
            <span class="float-right">Changes are automatically saved</span>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Row</th>
                        <th scope="col">Col</th>
                        <th scope="col">ColSpan</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="new-field">
                    <tr>
                        <td>
                            <input type="text" class="form-control" @bind="NewField.Name" />
                        </td>
                        <td>
                            <select class="form-control" @bind="NewField.Type">
                                <option value="@FieldType.Text">Text</option>
                                <option value="@FieldType.TextArea">TextArea</option>
                                <option value="@FieldType.Number">Number</option>
                                <option value="@FieldType.Date">Date</option>
                                <option value="@FieldType.Time">Time</option>
                                <option value="@FieldType.Enum">Enum</option>
                                @*<option value="@FieldType.Linked">Linked</option>*@
                            </select>
                        </td>
                        <td>
                            <input type="number" class="form-control" @bind="NewField.Row" min="1" />
                        </td>
                        <td>
                            <input type="number" class="form-control" @bind="NewField.Column" min="1" max="12" />
                        </td>
                        <td>
                            <input type="number" class="form-control" @bind="NewField.ColumnSpan" min="1" max="12" />
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>Options:</td>
                        <td colspan="4">
                            <input type="text" class="form-control" @bind="NewField.Options" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Optional:</td>
                        <td colspan="4">
                            <input type="checkbox" @bind="NewField.Optional" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Show in Search:</td>
                        <td colspan="4">
                            <input type="checkbox" @bind="NewField.SearchShow" min="1" />
                        </td>
                        <td></td>
                    </tr>
                    @if (NewField.SearchShow == true)
                    {
                        <tr>
                            <td>Search Column Order:</td>
                            <td colspan="1">
                                <input type="number" class="form-control" @bind="NewField.SearchOrder" />
                            </td>
                            <td colspan="4"></td>
                        </tr>
                    }
                    <tr>
                        <td colspan="6">
                            <input type="button" class="btn btn-success float-right" value="Create New Field" @onclick="CreateField" />
                        </td>
                    </tr>
                </tbody>
                @if (SelectedType != null)
                {
                    @foreach (var field in Types.Where(t => t.Id == SelectedType).FirstOrDefault().Fields)
                    {
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Type</th>
                                <th scope="col">Row</th>
                                <th scope="col">Col</th>
                                <th scope="col">ColSpan</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody class="fields">
                            <tr>
                                <td>
                                    <input type="text" class="form-control" @bind="field.Name" @onblur="(() => UpdateField(field))" />
                                </td>
                                <td>
                                    <span>@field.Type</span>
                                </td>
                                <td>
                                    <input type="number" class="form-control" @bind="field.Row" min="1" @onblur="(() => UpdateField(field))" />
                                </td>
                                <td>
                                    <input type="number" class="form-control" @bind="field.Column" min="1" max="12" @onblur="(() => UpdateField(field))" />
                                </td>
                                <td>
                                    <input type="number" class="form-control" @bind="field.ColumnSpan" min="1" max="12" @onblur="(() => UpdateField(field))" />
                                </td>
                                <td>
                                    <button class="form-control btn btn-danger" @onclick="(() => DeleteField(field))">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>Options:</td>
                                <td colspan="4">
                                    <input type="text" class="form-control" @bind="field.Options" @onblur="(() => UpdateField(field))" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Optional:</td>
                                <td colspan="4">
                                    <input type="checkbox" @bind="field.Optional" @onblur="(() => UpdateField(field))" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Show in Search:</td>
                                <td colspan="4">
                                    <input type="checkbox" @bind="field.SearchShow" @onblur="(() => UpdateField(field))" />
                                </td>
                                <td></td>
                            </tr>
                            @if (field.SearchShow == true)
                            {
                                <tr>
                                    <td>Search Column Order:</td>
                                    <td colspan="1">
                                        <input type="number" class="form-control" min="1" @bind="field.SearchOrder" @onblur="(() => UpdateField(field))" />
                                    </td>
                                    <td colspan="4"></td>
                                </tr>
                            }
                        </tbody>
                    }
                }
            </table>
        </div>
    </div>
}

@code {

    [Parameter]
    public string GroupId { get; set; }


    //Loaded from API
    public ResponseGroup Group { get; set; } = new ResponseGroup();
    public List<ResponseInstanceType> Types { get; set; } = new List<ResponseInstanceType>();

    //Creation Fields
    public ResponseField NewField { get; set; } = new ResponseField();
    public string NewDataTypeName { get; set; }

    //Selection
    public string SelectedType { get; set; }

    async protected override Task OnInitializedAsync()
    {
        await GetGroup();
        await GetDataTypes();
    }

    private void SelectedTypeChanged(string typeId)
    {
        SelectedType = typeId;
    }


    async private Task GetGroup()
    {
        Group = await API.GroupGetById(GroupId);
    }

    async private Task GetDataTypes()
    {
        Types = await API.GetGroupTypeAsList(GroupId);
    }

    async private Task CreateDataType(string name)
    {
        ResponseInstanceType model = new ResponseInstanceType()
        {
            Name = name
        };
        await API.CreateGroupType(GroupId, model);
        await GetDataTypes();
        NewField = new ResponseField();

        _toastService.ShowSuccess("Type Created");
    }

    async private Task CreateField()
    {
        await API.CreateGroupInstanceTypeField(GroupId, SelectedType, NewField);
        await GetDataTypes();
        NewField = new ResponseField();

        _toastService.ShowSuccess("Field Created");
    }

    async private Task UpdateField(ResponseField field)
    {
        await API.UpdateGroupInstanceTypeField(GroupId, SelectedType, field.Id, field);
    }

    async private Task DeleteField(ResponseField field)
    {
        await API.DeleteGroupInstanceTypeField(GroupId, SelectedType, field.Id);
        await GetDataTypes();

        _toastService.ShowSuccess("Field Deleted");
    }
}
