@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject depot.Client.Services.AppState _appState

<AuthorizeView>
    <Authorized>
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">depot</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navToggle" aria-controls="navToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navToggle">
                <ul class="navbar-nav ml-md-auto">
                    <li class="nav-item">
                        <strong class="nav-link">@_appState.CurrentGroupName</strong>
                    </li>
                    @if (_appState.CurrentGroupId != null)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Data
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                @foreach (var type in _appState.DataTypes)
                                {
                                    <NavLink class="dropdown-item" href="@($"group/{_appState.CurrentGroupId}/type/{type.Data}")">
                                        <span class="oi oi-plus" aria-hidden="true"></span> @type.Text
                                    </NavLink>
                                }
                                @if (_appState.CurrentGroupIsAdministrator)
                                {
                                    if (_appState.DataTypes.Count > 0)
                                    {
                                        <div class="dropdown-divider"></div>
                                    }
                                    <NavLink class="dropdown-item" href="@($"group/{_appState.CurrentGroupId}/design")">
                                        <span class="oi oi-list-rich" aria-hidden="true"></span> Data Manager
                                    </NavLink>
                                }
                            </div>
                        </li>
                    }
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Group
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @foreach (var group in _appState.AllowedGroups)
                            {
                                <NavLink class="dropdown-item pointer" href="@($"group/{group.Id}")">
                                    <span class="oi oi-plus" aria-hidden="true"></span> @group.Name
                                </NavLink>
                            }
                            @if (_appState.AllowedGroups.Count > 0)
                            {
                                <div class="dropdown-divider"></div>
                            }
                            @if (_appState.CurrentGroupId != null && _appState.CurrentGroupIsAdministrator)
                            {
                                <NavLink class="dropdown-item" href="@($"group/{_appState.CurrentGroupId}/settings")">
                                    <span class="oi oi-list-rich" aria-hidden="true"></span> Current Group Settings
                                </NavLink>
                            }
                            <a class="dropdown-item" href="group">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Create New Group
                            </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="authentication/profile">@context.User.Identity.Name</a>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link btn btn-link" @onclick="BeginSignOut">Log out</button>
                    </li>
                </ul>
            </div>
        </nav>
    </Authorized>
    <NotAuthorized>
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">depot</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navToggleUnAuth" aria-controls="navToggleUnAuth" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navToggleUnAuth">
                <ul class="navbar-nav ml-md-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="authentication/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="authentication/login">Log in</a>
                    </li>
                </ul>
            </div>
        </nav>
    </NotAuthorized>
</AuthorizeView>

@code{      
    protected override void OnInitialized()
    {
        _appState.OnChange += StateHasChanged;
    }

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
